absl-py==2.1.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
bitarray==2.9.2
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.0.0
click==8.1.3
cloudbiolinux==0.1
comm==0.2.1
contourpy==1.0.6
cryptography==38.0.3
cycler==0.11.0
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.6
executing==2.0.1
fabric==3.2.2
filelock==3.8.0
Flask==2.2.2
flatbuffers==24.3.25
fonttools==4.38.0
fsspec==2023.12.2
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
gunicorn==20.1.0
h11==0.14.0
h5py==3.11.0
idna==3.7
invoke==2.2.0
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.2.0
jupyter-client==8.6.0
jupyter-core==5.7.1
keras==3.2.1
kiwisolver==1.4.4
libclang==18.1.1
markdown-it-py==3.0.0
Markdown==3.6
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.6.2
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.7
numpy==1.23.4
opt-einsum==3.3.0
optree==0.11.0
outcome==1.3.0.post0
packaging==21.3
pandas==1.5.3
paramiko==3.4.0
parso==0.8.3
pdfminer.six==20220524
pdfplumber==0.7.5
pdfreader==0.1.15
pexpect==4.9.0
Pillow==9.3.0
pip==22.3
platformdirs==2.5.2
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycryptodome==3.20.0
pygments==2.17.2
PyNaCl==1.5.0
pyparsing==3.0.9
pypdf2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
pytube==15.0.0
pytz==2022.7.1
PyYAML==6.0.1
pyzmq==25.1.2
regex==2022.10.31
requests==2.31.0
rich==13.7.1
selenium==4.23.1
setuptools==65.5.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stack-data==0.6.3
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.16.2
tensorflow-io-gcs-filesystem==0.36.0
tensorflow==2.16.1
termcolor==2.4.0
torch==2.1.2
tornado==6.4
tqdm==4.64.1
traitlets==5.14.1
trio-websocket==0.11.1
trio==0.26.2
typing-extensions==4.9.0
Unidecode==1.3.7
urllib3==2.2.1
virtualenv==20.16.6
Wand==0.6.10
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==2.2.2
wheel==0.43.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
